body {
  margin: 0;
  font-family:  'Raleway', sans-seri
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Raleway', sans-serif;
}