.card {
    flex:1 0 50%;
    gap:10px;
}

.card h2 {
    font-size: 30px;
    color: white;
}

.card table {
    width: 100%;
}
.card table tr {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
}
.card th {
    font-size: 22px;
    color: white;
}

.card td div {
    height: 40px;
    width: 40px;
    border-radius: 2px;
    background-color: yellow;
    margin: 0 auto;
}