.ul {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

.ul li{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.ul li div input:hover,
.ul li div label:hover {
    cursor: pointer;
}

.ul li div input {
    width: 20px;
    height: 20px;
}

.ul li div label {
    font-size: 20px;
    margin: auto 0;
}

.ul li button {
    background-color: red;
    align-self: flex-end;
    flex:0 0 20%;
    width: 0px;
}

.ul li button img {
    height: 21px;
    transform: translateY(2px);
}