.flex {
    display: flex;
    gap: 3vh;
    flex-grow: 1;
    width: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    flex: 1;
    width: 81% !important;;
}

.column1,
.column2 {
    display: flex;
    flex-direction: column;
    gap:3vh;
}

.column1 {
    flex:1 1 50%;
}

.column2 {
    flex:1 1;
    min-width: 200px;
}

.row1 {
    flex:1 1 60%
}

.row2 {
    flex:1 1
}

.row1,
.row2,
.row3 {
    display: flex;
    gap:3vh;
}

.row3 p,
.row3 button {
    flex: 1 1;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    border: none;
}

.row2 div:nth-child(1) {
    flex:1 1 50%;
}

.row2 div:nth-child(2) {
    flex:1 0 50%;
}

.row3 {
    /* justify-self: end; */
}