.flex {
    display: flex;
    gap: 3vh;
    flex-grow: 1;
}

.flex_column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    /* flex: 1 0 60%; */
}

.flex h1 {
    font-size: 50px;
}

.column1 {
    flex-grow:1;
}