.form {
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: #F4A261;
    position: absolute;
    height:296px;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    justify-content: space-between;
}

.form h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 30px;
}

.form input {
    border: 0;
    border-bottom: 1px black solid;
    padding: 3px;
}

.form input:focus {
    outline: none;
}

.inputsColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
}

.nameInputs {
    display: flex;
    gap:10px;
}

.nameInputs input {
    flex: 1;
}

.form button {
    border: none;
    background-color: blue;
    padding: 10px;
    width: 30%;
    color: white;
    font-weight: bold;
    align-self: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.507);
    margin-bottom: 20px;
    border-radius: 3px;
}

.form button:hover {
    cursor: pointer;
}

.form input {
    font-size: 16px;
    background-color: transparent;
}
.form input::placeholder {
    color: rgb(63, 63, 63);
}