html {
    background: black;
    overflow: hidden;
  }
  
  .container,
  .sea,
  .sky,
  .sun,
  .light,
  .bird,
  .birdr1,
  .birdr,
  .fin,
  .wave {
    position: absolute;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .sky {
    opacity: .8;
    width: 100%;
    height: 70%;
    top: 0;
    background: radial-gradient(at 85% 90%, #e56b6f, #b56576, #6d597a, #355070);
    z-index: 30;
  }
  
  .sea {
    width: 100%;
    height: 30%;
    top: 70%;
    background: linear-gradient(to right, #007, #020285, #007, #020285, #007, #020285);
    z-index: 60;
  }
  
  .sun {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    left: 65%;
    z-index: 40;
    background: linear-gradient(#ff0, rgb(209, 94, 0));
    box-shadow: 0 0 40px 6px rgba(253, 236, 2, 0.527), 0 0 150px 10px rgb(167, 142, 95);
    animation: rise 24s ease forwards;
  }
  
  @keyframes rise {
    0% {
      top: 70%;
    }
    100% {
      top: 15%;
    }
  }
  
  .light {
    opacity: .5;
    left: 0%;
    width: 100%;
    height: 100%;
    background: radial-gradient(at 80% 0%, rgb(184, 173, 20), transparent);
    z-index: 60;
    animation: over 12s ease forwards;
  }
  
  @keyframes over {
    0% {
      opacity: 0
    }
    ;
    100% {
      opacity: .2
    }
    ;
  }
  
  .bird {
    opacity: 1;
    top: 50px;
    left: 00px;
    width: 60px;
    height: 48px;
    border: 6px solid black;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(-75deg);
    animation: move 25s linear infinite, flap .5s linear alternate infinite;
    z-index: 70;
  }
  
  .birdr {
    z-index: 70;
    
    opacity: 1;
    top: 50px;
    width: 30px;
    height: 24px;
    border: 6px solid black;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    transform: rotateZ(75deg);
    margin: 0px 52px;
    animation: move 25s linear infinite
  }
  
  
  .fin {
    border: 30px solid black;
    top: 90%;
    left: 100%;
    z-index: 100;
    border-left: 30px solid transparent;
    border-top: 0px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 0px 0px 2px 10px;
    animation: swim 30s linear infinite 10s;
  }
  
  .wave {
    margin: 26px 7px;
    border-left: 3px solid transparent;
    border-top: 6px solid #a2a2a74d;
    border-right: 50px solid transparent;
    transform: rotatez(6deg);
    z-index: 60;
  }
  
  @keyframes swim {
    0% {
      left: 100%;
    }
    100% {
      left: -25%
    }
    ;
  }
  
  @keyframes move {
    0% {
      left: 0px;
    }
    100% {
      left: 100%;
    }
  }
  
  @keyframes mover {
    0% {
      left: -0px;
    }
    100% {
      left: 100%;
    }
  }
