.logo {
    height: 50px;
    width: 50px;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-self: center;
    height: 100vh;
    margin: auto 0;
}

.ul li {
    padding: 5px;
    border-radius: 10px;
    transition: 100ms linear;
}

.ul li a {
    transition:100ms linear;
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.darkModeSelection div{
    background-color: rgb(151, 151, 151);
}

.lightModeSelection div {
    background-color: rgb(31, 31, 31);
}