.logo {
    height: 50px;
    width: 50px;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-self: center;
    height: 94vh;
    margin: auto 0;
}

.ul li {
    padding: 5px;
    border-radius: 10px;
    transition: 100ms linear;
}

.ul li a div button {
    transition:100ms linear;
    /* text-decoration: none; */
    /* border: none; */
    background-color: transparent;
    color: white;
}

li:hover,
.ul li a div button  {
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}
